@{
    ViewData["Title"] = "Home Page";
}


<div class="col-12">
    <h3 class="text-center">Portfolio evolution</h3>
    <canvas id="myChart" height="100"></canvas>
</div>

<div class="row">
    <div class="col-6">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Asset</th>
                <th scope="col">Price</th>
                <th scope="col">Balance</th>
                <th scope="col">Value in U$D</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Ethereum</th>
                <td>$3860.00</td>
                <td>1.4 ETH</td>
                <td>$5152</td>
            </tr>
            <tr>
                <th scope="row">Ethereum</th>
                <td>$3860.00</td>
                <td>1.4 ETH</td>
                <td>$5152</td>
            </tr>
            <tr>
                <th scope="row">Ethereum</th>
                <td>$3860.00</td>
                <td>1.4 ETH</td>
                <td>$5152</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-6">
        <h3 class="text-center">Asset allocation</h3>
        <canvas id="pieChart" height="50"></canvas>
    </div>
</div>
